.share-mask {
  position: fixed;
  top: -30px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5) url(../../assets/images/direction.png) top right no-repeat;
  background-size: 70%;
}
